openapi: 3.0.3
info:
  title: SMS Country API
  description: API for sending SMS via SMSCountry
  version: 0.1.0
servers:
  - url: https://restapi.smscountry.com/v0.1
tags:
  - name: sms
paths:
  /Accounts/{authKey}/SMSes/:
    post:
      tags:
        - sms
      summary: Send SMS
      operationId: sendSms
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: authKey
          schema:
            type: string
          required: true
          description: The AuthKey for the account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendSmsResponse'
        '401':
          description: Unauthorized
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    SendSmsRequest:
      type: object
      properties:
        Text:
          type: string
        Number:
          type: string
        SenderId:
          type: string
        DRNotifyUrl:
          type: string
        DRNotifyHttpMethod:
          type: string
        Tool:
          type: string
      required:
        - Text
        - Number
        - SenderId
    SendSmsResponse:
      type: object
      properties:
        Success:
          type: string
        Message:
          type: string
        JobId:
          type: string
