name: CI
on:
  push:
    branches:
      - master

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Checkout
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: 21
          maven-version: 3.9.12
          checkout-enabled: 'false'
      - name: Build jar
        run: mvn clean package
      - name: Archive Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: keycloak-phone-number-jars
          path: |
            packages/*/target/keycloak-phonenumber-*.jar

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: 21
          maven-version: 3.9.9
          checkout-enabled: 'false'

      - name: Download Build Artifacts
        uses: actions/download-artifact@v7
        with:
          name: keycloak-phone-number-jars
          path: dist

      # Upload as an artifact of the current workflow
      - name: Upload build zip artifact
        uses: actions/upload-artifact@v6
        if: 'true'
        with:
          name: Release artifacts
          path: dist/*.jar

      # Make official GitHub release which will trigger
      # sending the mail with link for access
      - name: Get version
        id: version
        run: echo "version=$(mvn -q -DforceStdout help:evaluate -Dexpression=project.version)" >> "$GITHUB_OUTPUT"
      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: dist/**/*.jar
          draft: false
          prerelease: false
          allowUpdates: true
          bodyFile: CHANGELOG.md
          tag: v${{ steps.version.outputs.version }}
